.listReset {
  list-style-type: none;
}
.infoItem {
  display: flex;
  justify-content: left;
  align-items: center;
}
.infoText {
  padding-left: 10px;
}
.title {
  text-align: center;
}
.listCountry {
  position: relative;
}
.flagStyles {
  position: absolute;
  right: 10%;
  width: 40%;
  height: auto;
}
.img {
  width: 100%;
}
